[Unit]
Description=Backlight Capture Service
After=network.target

[Service]
ExecStart=/usr/bin/backlight_capture /dev/%I
ExecStopPost=backlight_capture /dev/%I -B
StandardOutput=append:/var/log/backlight_capture.log
StandardError=append:/var/log/backlight_capture.log

[Install]
WantedBy=multi-user.target